.request-container{
    background-color: rgb(229 231 235);
    color:#fff;
    height: 100vh;
    display: block;
    overflow: auto;
}
/* rectangle behind request*/
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
}
.card{

    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    font-family: "Noto Sans", sans-serif;
    color:black;

    position: relative;
    width: 85%;
    
    border-radius: 1.5rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
.card .title{
    display: flex;
    justify-content: center;
    margin-bottom: revert;
    border-bottom: 3px solid #000;
}

.card .card-info{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.card .cardbutt-container{
    display: flex;
    justify-content: center;

    margin-top: 0.5rem;
    
}
.card button{
    color: #FFFFFF;
    background-color: #111827;
    
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;

    cursor: pointer;
    flex: 0 0 auto;

    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;

    padding: .75rem 1.2rem;
    margin-left: 0.5rem;
    
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.card button:hover {
    background-color: #374151;
}

.card button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .card button {
        padding: .75rem 1.5rem;
    }
}