.noti-title{
    display: flex;
    justify-content: center;
}
.noti-info{
    padding: 1rem 1rem 1rem;
}
.noti-button{
    display: flex;
    justify-content: center;
}
.noti-button button{
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;;
}

.noti-button:active{
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .noti-button {
    padding: 0.25em 0.75em;
    }
}


.noti-button:hover,
.noti-button:focus {
  opacity: .75;
}