.search-container{
    background-color: rgb(229 231 235);
    height: 100vh;
}
.back-button-container{
    background-color: rgb(255 255 255);
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */

    cursor: pointer;
}
.input-container{
    background-color: rgb(255 255 255);
    display: flex;
    align-items: center;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
}
.from-to-icons{
    display: flex;
    flex-direction: column;
    
    margin-right: 0.5rem; /* 8px */
}
.input-boxes{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;

}
.input-boxes .input-errors{
    color: #FF6254;
    font-size: 0.75rem;
}
.input-boxes input{
    height: 2.5rem; /* 40px */
    background-color: rgb(229 231 235);
    margin-top: 0.5rem; /* 8px */
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem; /* 8px */
    outline: none;
    border : none;
}
.plus-icon-container{
    padding-left: 0.5rem;
}
.save-places{
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;

    margin-top:0.5rem;

    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
}
.save-places h3{
    margin-left: 0.5rem;
    font-size: 15px;
}
.request-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}
.request-button-container button{
    color: #FFFFFF;
    background-color: #111827;
    
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;

    cursor: pointer;
    flex: 0 0 auto;

    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;

    padding: .75rem 1.2rem;
    margin-left: 0.5rem;
    
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;

}

.request-button-container button:hover {
    background-color: #374151;
}

.request-button-container button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .request-button-container button {
        padding: .75rem 1.5rem;
    }
}