.action-items-container{
    flex: 1 1 0%;    
    padding: 1rem;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 1rem 0 1rem 0;
}
.logo{
    height: 28px;
    font-size: 22px;
    color: #55EEDD;
}
.profile-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-container .user-name{
    width: 5rem;
    font-size: 1rem; 
    line-height: 1.25rem; 
    
}
.profile-container img {
    height: 3rem;    
    width: 3rem;
    
    border-radius: 9999px;
    border-color: rgb(229 231 235);

    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}


.action-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    background-color: rgb(229 231 235);
    flex: 1 1 0%;
    margin: 0.25rem;
    height: 8rem;
    border-radius: 10px;

    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.action-button:hover{
    transform: scale(1.05);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.action-button img{
    height: 5rem;
    width: 7rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.action-button h3{
    display: flex; 
    justify-content: center;
    font-size: 0.875rem; 
    line-height: 1.25rem;  
    color: black;

}
.input-button{
    height: 3rem; /* 80px */
    background-color: rgb(229 231 235);
    color: black;

    padding: 1rem;    
	margin-top: 2rem;
    border-radius: 10px;

    font-size: 0.875rem; 
    line-height: 1.25rem;  
}